body {
    background-image: url('pexels-steve-1573434.jpg');
    background-size: cover;
    background-position: center;
}

footer h5,
footer p {
  color: white;
}

.btn,
#newsletter1 {
  background-color: transparent;
}

.btn:hover {
  background-color: rgba(36, 36, 36, 0.803);
}

.card-img-top {
  width: 20rem;
}

.events .btn,
.collection .btn {
  background-color: transparent;
}
.events .btn:hover,
.collection .btn:hover {
  background-color: rgba(241, 241, 241, 0.803);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  border: none;
  border-radius: 0%;
  outline: none;
  box-shadow: none;
}
